@model DataLayer.Models.Pays

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pays</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surfacearea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surfacearea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indepyear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indepyear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.population)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.population)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lifeexpectancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lifeexpectancy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gnp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gnp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gnpold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gnpold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.localName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeIso2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeIso2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idgovform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idgovform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idheadofstate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idheadofstate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regions.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regions.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodeIso3 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
