@model List<DataLayer.Models.Produits>
@using Form114.Infrastructure
@{
    ViewBag.Title = "Result";
}

@section scripts {
    <script src="~/Scripts/Home/VuesPartielles.js"></script>
<script>
    $(function () {
        $('#3').click(function () {
            $("#Ville").val($('#3').attr("href").substring(1))
            $("#Region").val('')
            $("#Pays").val('')
            //alert($("#Ville").val());
            $("#TT").submit()
        });
        $('#1').click(function () {
            $("#Region").val($('#1').attr("href").substring(1))
            $("#Pays").val('')
            $("#Ville").val('')
            //alert($("#Ville").val());
            $("#TT").submit()
        });
        $('#2').click(function () {
            $("#Pays").val($('#2').attr("href").substring(1))
            $("#Region").val('')
            $("#Ville").val('')
            //alert($("#Pays").val());
            $("#TT").submit()
        });
    });
</script>

}

<h2>Resultats de votre recherche</h2>

@using (Html.BeginForm("Result", "Search", FormMethod.Post, new { id = "TT" }))
{
    var i = 0;
    <input type="hidden" id="Ville" name="Ville" value="" />
    <input type="hidden" id="Region" name="Region" value="" />
    <input type="hidden" id="Pays" name="Pays" value="" />
    foreach (BreadCrumbItem BCI in (List<BreadCrumbItem>)ViewBag.BreadCrumb)
    {
        i++;
        <a id="@i" href="#@BCI.Id">@BCI.text</a>
        <text> >> </text>
    }
    //@Html.ActionLink(BCI.text, BCI.routeAction, BCI.routeController)
}
@*<table class="table table-hover table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th>Ville</th>
            <th>nombre de chambre</th>
            <th>adresse</th>
            <th>Prix</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var i = item.Prix.Count() != 0 ? item.Prix.First().Montant : 0;
            <tr>
                <td>@item.Villes.name</td>
                <td>@item.NbPlaces</td>
                <td>@item.Adresse</td>
                <td>@i</td>
                <td>@Html.ActionLink("Détails","Details",new { controller = "Produit", id = item.IdProduit })</td>
            </tr>
        }
    </tbody>

</table>*@

<div style="padding:25px;">
    <div class="row center-block">
        @foreach (var item in Model)
        {

            <div class="col-sm-8">@Html.Action("Maxiature", "Produit", new { id = item.IdProduit })</div>

        }
    </div>
</div>