@model List<DataLayer.Models.Produits>
@using Form114.Infrastructure
@{
    ViewBag.Title = "Result";
}

@section scripts {
    <script src="~/Scripts/Home/VuesPartielles.js"></script>
}

<h2>Resultats de votre recherche</h2>

<table class="table table-hover table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th>Ville</th>
            <th>nombre de chambre</th>
            <th>adresse</th>
            <th>Prix</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var i = item.Prix.Count() != 0 ? item.Prix.First().Montant : 0;
            <tr>
                <td>@item.Villes.name</td>
                <td>@item.NbPlaces</td>
                <td>@item.Adresse</td>
                <td>@i</td>
                <td>@Html.ActionLink("Détails","Details",new { controller = "Produit", id = item.IdProduit })</td>
            </tr>
        }
    </tbody>

</table>

@*<div style="background-color : #5D8CAE; padding:25px;">
    <div class="row center-block">
        @foreach (var item in Model)
        {

            //<div class="col-sm-8">@Html.Action("Maxiature", "Produit", new { id = item.IdProduit })</div>

        }
        @foreach (BreadCrumbItem BCI in (List<BreadCrumbItem>)ViewBag.BreadCrumb)
        {
            @Html.ActionLink(BCI.text, BCI.routeAction, BCI.routeController)
            <text> >> </text>
        }
    </div>
</div>*@